.countryVal {
  color: tomato;
}
.countryItems,
.weatherItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.countryFlag {
  font-size: 100px;
}
.countryVal4 {
  display: flex;
  align-items: center;
}
.formsData {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button2 {
  margin-bottom: 50px;
  padding: 8px 8px;
  font-size: 20px;
  cursor: pointer;
}
